body{
    background-color: black;
    color: white;
    
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ul {
    list-style: none;
}

.checkbox{
    display: flex;
    align-items: center;
}

.himg{
    height: 20px;
}

.checkbox{
    width: 5%;
    height: 5%;
    color: white;
    background-color: black;
    border: 1px white;
}

img{
    margin-right: 50px;
}